@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.logo-small {
    display: flex;
    margin: 10px 10px;
    display: none;
    //change header for this
}
body {
    margin-top: 125px;
    background-color: #1b262c;
}

header {
    background-color: #0f4c75;
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 500;
}

.nav-name {
    display: flex;
    color: #bbe1fa;
    display: none;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav li {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;

}

.logo{
    margin-top: 8px;
    margin-left:10px;
}


.big-topic {
    color: #bbe1fa
}

a { color:#bbe1fa;
text-decoration: none; 
} /* Globally */

/* Each state */

a:visited { text-decoration: none; color:bbe1fa; }
a:hover { text-decoration: none; color: #3282b8; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; color: #3282b8 }

@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }

.parallax {
    height: 100vh;
    background-image: url("background/IMG_8935.jpg");
    min-height: 600px;
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.backgroundtxt {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 50px;
}

h1 {
    text-align: center;
    z-index: 1;
}

.bg1 {
    min-height: 100%;
    mid-width: 1024px;
    width: 100%;
    height: auto;
}