@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.logo-small {
    display: flex;
    margin: 10px 10px;
    display: none;
    //change header for this
}

body {
    background-color: #1b262c;
}

header {
    background-color: #0f4c75;
}

.nav-name {
    display: flex;
    color: #bbe1fa;
    display: none;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav li {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

.logo{
    margin-top: 8px;
    margin-left:10px;
}


.big-topic {
    color: #bbe1fa
}

a { color:#bbe1fa;
   //  background-color: #0f4c75;
text-decoration: none; } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:bbe1fa; }
a:hover { text-decoration: none; color: #3282b8; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; color: #3282b8 }