@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
}

p {
    line-height: 1.6;
}
.logo-small {
    display: flex;
    margin: 10px 10px;
    display: none;
    //change header for this
}
body {

    background-color: #1b262c;
}

nav {
    background-color: #0f4c75;
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 500;
}

.nav-name {
    display: flex;
    color: #bbe1fa;
    display: none;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav li {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    padding: 10px;

}


.logo{
    margin-top: 8px;
    margin-left:10px;
    
}


.big-topic {
    color: #bbe1fa;

}


a { color:#bbe1fa;
text-decoration: none; 
} /* Globally */

:target::before {
    content: "";
    display: block;
    height: 135px; /* fixed header height*/
    margin: -135px 0 0; /* negative fixed header height */
  }
/* Each state */

a:visited { text-decoration: none; color:bbe1fa; }
a:hover { text-decoration: none; color: #3282b8; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; color: #3282b8 }

@media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }

.parallax {
    height: 100vh;
    background-image: url("background/IMG_8935.jpg");
    min-height: 600px;
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

#backgroundtxt {
    color: #bbe1fa;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 62px;
    text-align: center;
}

section h1 {
    position: relative;
    text-align: center;
    z-index: 1;
    font-size: 47px;
    font-weight: 600;
}
/* h1 span {
    position: absolute;

} */
.bg1 {
    min-height: 100%;
    mid-width: 1024px;
    width: 100%;
    height: auto;
}

.description {
    display: flex;
    align-items: center;
}
.description{
    align-items: center;
    justify-content: space-between;
}

.description li{
    padding: 30px 20px;
    display: inline-block;
    align-items: center;
}

#me {
    border-radius: 50%;
    border: 10px solid #bbe1fa;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.info {
    font-size: 18px;
}
#background {
    margin-bottom: 20px;
}
#background::before{
    content: 'V';
    color: #bbe1fa;
    position: absolute;
    opacity: 0.7;
    font-size: 40px;
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    bottom: 20px;
    left: 50%;
    margin-left: -30px;
    animation: bounce 1s ease infinite;
  }
  
  @keyframes bounce {
    50% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .college_degrees {
    padding: 10px 10px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .college_degrees li {
    display: inline-block;
    text-align: center;
    justify-content: space-around;
  }

  .college_degrees li p {
      vertical-align: middle;
  }

  #berk_eng {
      margin-bottom: 5px;
      max-width: 40%;
      height: auto;
      vertical-align: middle;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  h3 {
      text-align: center;
      text-decoration: underline;
  }

  .course_list {
      text-align: center;
    vertical-align: middle;
  }
  
  .tile {
      position: relative;
      background-color: #0f4c75;
      background-clip: border-box;
      display: inline-block;
      -webkit-box-orient:vertical;
      -webkit-box-direction: normal;
      vertical-align:middle;
      width: 14rem;
      min-height: 50px;
      padding: 5px;
      margin: 15px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      flex: 0 0 50%;
      max-width: 50%;
      transition: transform 0.5s ease;
      border-radius: 5%;
  }

  .tile .tile-body h4{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
  